$contact-mian-color: #036781;
.contact-page{
	padding: 5%;
	text-align: center;
	background: url("../src/img/contact-page.jpg") no-repeat center center fixed;
	-webkit-background-size: cover; /* For WebKit*/
	  -moz-background-size: cover;    /* Mozilla*/
	  -o-background-size: cover;      /* Opera*/
	  background-size: cover;         /* Generic*/
}
.contact-box{
	height: 80%;
	padding-top: 80px;
	background: url(../src/img/world-map.png);

	.title-email{
		padding: 0 0 10px 0;
		font-size: 40px;
		color: #036781;
		font-weight: 600;
	}

	.name-input{
	    font-size: 30px;
	    margin: 20px;
	    background: rgba(249, 249, 249, 0.8);
	    border: 1px solid rgba(0, 0, 0, 0.7);
		border-bottom: 3px solid black;
	    opacity: 0.5;
		padding: 10px 15px;
	}
	.send-button{
		background: rgba(0, 0, 0, 0.8);
	    font-size: 1.3em;
	    font-weight: 100;
	    border-radius: 0px;
	    padding: 1em 3em;
	    float: right;
	    color: white;
	    position: absolute;
	    right: 140px;
	    opacity: 0.5;
	}
	.social{
		width: 6%;
		padding:10px;
		margin-right: 15px; 
	}
}