$title-shade-color:#ddede6;
.title-position-right{
  position: absolute;
  right: 0%;
  z-index: 1;
  top:-100px;
}
.title-group-right{
  position: absolute; 
  right: 0; 
  top:0;
}
.title-right { 
  background: url(../src/img/title-finland.jpg) ;
  background-position: -50px -90px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
  display:block;
  z-index: 2;
  position: absolute;
  right:0;
}

.title-shade-right{
  position: relative;
  width: 100%;
  z-index: 1;
  color: $title-shade-color;
  height: 100%;
  top:0.7em;
}
.name-position-right{
  top: 550px;
  position: relative;
  height: 100%;
  z-index: 100;
}

.text-right-right{
  text-align: right;
}
.description-text-right{
  width: 80%;
  float:right;
}