$title-shade-color:#EFF5FB;
$title-shade-color-experience:#ddede6;
$title-shade-color-contact:#cadadd;

.title-position{
  position: absolute;
  left: 0%;
  z-index: 1;
  top:-100px;
}
.title-group{
  position: absolute; 
  left: 0; 
  top:0;
}

.title-group-right{
  position: absolute; 
  right: 0; 
  top:0;
}

.title { 
  background: url(../src/img/title-finland.jpg) ;
  background-position: -50px -90px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
  display:block;
  z-index: 2;
  position: absolute;
}

.title-shade{
  position: relative;
  width: 100%;
  z-index: 1;
  color: $title-shade-color;
  height: 100%;
  top:0.7em;
}
.name-position{
  top: 550px;
  position: relative;
  height: 100%;
  z-index: 100;
}

.text-right{
  text-align: right;
}
.description-text{
  width: 80%;
  float:right;
}

.experience{
  color: $title-shade-color-experience !important;
}
.contact{
  color: title-shade-color-contact;
}
.contact-name{
  color: #036781 !important;
}
.experience-name{
  color: #128c66 !important;
}
.right{
  position: absolute;
  right:0;
}
.no-float{
  float: none !important;
}