$title-shade-color:#EFF5FB;
.title-position{
  position: absolute;
  left: 0%;
  top: 20%;
  z-index: 0;
}
.title { 
  background: url(../src/img/title-finland.jpg) ;
  background-position: -50px -90px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
  display:block;
  z-index: 2;
  position: relative;
  left: -1em;
}
.title-shade{
  position: relative;
  left: 0.2em;
  bottom: 1.7em;
  z-index: 1;
  width: 100%;
  color: $title-shade-color;
}

.name-position{
  top: -28em;
  position: relative;
}
.text-right{
  text-align: right;
}
.description-text{
  width: 80%;
  float:right;
}