.title { 
  background: url(../src/img/Finland.jpg) -20px -20px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display:block;
  &:hover{
  	 background: url(../src/img/Finland.jpg) no-repeat 10px 10px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display:block;
  };
}
.title-shade{
  color: #EFF5FB;
}
.title-position{
  position: absolute;
  left: -5em;
  bottom: 10em;
  z-index: 2;
}
.title-shade-position{
  position: absolute;
  left: -4em;
  bottom: 13em;
  z-index: 1;
}
.name{
  font-size: 5em;
  color: #497CBE;
  position: relative;
  bottom: -4.5em;
  left: 8em;
  z-index: 3;
  font-weight: 900;
}