$title-item-color: #5a5a5a;
$read-more-bg-color: #128c66;
.project-page{
	padding: 5%;
	text-align: center;
}

.project-item{
	margin: 30px 30px;
	.item-title{
		font-size: 25px;
		color: $title-item-color;
	}

	.project-img{
		width: 100%;
	    padding: 20px;
	}

	.overlay {
        position: absolute;
        left: 0%;
      	top:0;
        width: 0%;
        height: 100%;
        background-color: $read-more-bg-color;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease-in;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease;
        visibility:hidden;
        overflow:hidden;
        text-decoration: none;
        .read-more {
            color: #fff;
            text-align: center;
            line-height: 300px;
            vertical-align: middle;
            padding: 0;
            margin: 0;
			font-size: 25px;
        }
        
    }

	&:hover .overlay {
	    top:0;
	    left:0;
	    visibility:visible;
	    width:100%;
	    height:100%;
    }

}

