$username-color:#497CBE;
$title-shade-color:#EFF5FB;
$explain-text:#333;

html,
body {
    height: 100%;
    margin: 0;
    background-color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    /*-webkit-background-size: cover; /* For WebKit*/
    /* -moz-background-size: cover;    /* Mozilla*/
    /*-o-background-size: cover;      */
    /* Opera*/
    /*background-size: cover; */
}

h1 {
    font-size: 20em;
    font-weight: 900;
}

h2 {
    font-size: 6em;
    color: $username-color;
}

h3 {
    font-size: 6em;
    color: white;
    position: absolute;
    right: 0.2em;
    bottom: 0em;
}

button {
    color: #333;
    font-size: 1em;
    font-weight: 100;
    border-radius: 0px;
}

span {
    color: explain-text;
    font-size: 2em;
}

.button-style {
    color: $explain-text;
    font-size: 1.3em;
    font-weight: 100;
    border-radius: 0px;
    padding: 1em 3em;
    position: absolute;
}

.arrow {
    font-size: 60px !important;
    -webkit-text-stroke: 8px white;
    z-index: 0;
    position: relative;
    top: 0.3em;
    left: 0.2em;
    color: $explain-text;
}

.arrow-left{
    position: relative;
    top: 20px;
    left: 10px;
    z-index: 2;

    &:hover{
        left: 5px;
    };
}

.bg {
    position: absolute;
    bottom: 0;
    left: -5%;
    height: 21%;
    width: 110%;
    background: #f2f2f2;
    z-index: 0;
    /* transform: translate(0, 100%); */
}

.bg > div > div {
    position: relative;
    width: 50%;
    float: left;
}

.bg > div > div > span {
    display: block;
    margin-bottom: 2px;
}

.bg .white {
    left: 0;
    top: -15px;
}

.bg .white > span {
    background: #fff;
}

.bg .white > span:nth-child(1) {
    width: 90%;
    height: 30px;
}

.bg .white > span:nth-child(2) {
    width: 60%;
    height: 15px;
}

.bg .white > span:nth-child(3) {
    width: 80%;
    height: 10px;
}

.bg .white > span:nth-child(4) {
    width: 35%;
    height: 5px;
}

.bg .gray {
    right: 0;
    top: -52px;
    text-align: right;
}

.bg .gray > span {
    background: #f2f2f2;
    float: right;
}

.bg .gray > span:nth-child(1) {
    width: 35%;
    height: 5px;
}

.bg .gray > span:nth-child(2) {
    width: 80%;
    height: 10px;
}

.bg .gray > span:nth-child(3) {
    width: 60%;
    height: 15px;
}

.bg .gray > span:nth-child(4) {
    width: 90%;
    height: 30px;
}

.bg.reverse > div > div {
    float: right;
}

.bg.reverse .white {
    left: auto;
    right: 0;
    top: -15px;
}

.bg.reverse .white > span {
    float: right;
}

.bg.reverse .gray {
    left: 0;
    right: auto;
    top: -52px;
}

.bg.reverse .gray > span {
    float: left;
}
